.header {
    text-align: center;
}

.form > div > input {
    width: 30px;
    height: 22px;
}

.a-coef {
    padding-bottom: 10px;
}

.b-coef {
    padding-bottom: 10px;
}

.c-coef {
    padding-bottom: 10px;
}
